{% macro about() %}
<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ config.extra.user_description }}</p>
</div>
<div class="tech-carousel">
  <div class="marquee">
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-csharp-plain-wordmark colored"></i>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-dotnetcore-plain colored"></i>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-kotlin-plain-wordmark colored"></i>
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-git-plain"></i>
    <!-- Duplication des icônes pour un défilement infini -->
    <i class="devicon-html5-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <i class="devicon-sass-original colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-csharp-plain-wordmark colored"></i>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-dotnetcore-plain colored"></i>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-kotlin-plain-wordmark colored"></i>
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-mysql-plain-wordmark colored"></i>
    <i class="devicon-git-plain"></i>
  </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1>Featured Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="kevin bacon" src="{{ config.base_url ~ "/images/kevin-bacon.png" }}" />
  </div>
  <div class="contents">
    <h3>Application Android - 6 Degrees of Kevin Bacon</h3>
    <div class="tech-stack">
      <i class="devicon-kotlin-plain"></i>
      <i class="devicon-android-plain colored" title="Android"></i>
      <a href="https://developer.themoviedb.org/docs/getting-started" title="TMDB API">
        <img src="{{ config.base_url ~ "/images/tmdb-logo.jfif" }}" alt="TMDB API" class="custom-icon" />
      </a>
    </div>
    <p>
      Je prévois de développer une application Android qui suit le principe des
      6 degrés de Kevin Bacon. Cette application permettra aux utilisateurs de
      découvrir les liens entre différents acteurs à travers une chaîne de
      connexions de films.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Letterboxd Poster Downloader" src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExcWJlenhxNDkxcjZ5NG9sNDgwNHBtNXE1MG5sODE3MmVodzBtN3owbiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/6uGhT1O4sxpi8/giphy.gif" />
  </div>
  <div class="contents-right">
    <h3>Letterboxd Poster Downloader</h3>
    <div class="tech-stack">
      <i class="devicon-react-original colored" title="React"></i>
      <i class="devicon-flask-original" title="Flask"></i>
      <i class="devicon-python-plain colored" title="Python"></i>
      <i class="devicon-csv-plain colored" title="CSV Processing"></i>
      <a href="https://developer.themoviedb.org/docs/getting-started" title="TMDB API">
        <img src="{{ config.base_url ~ "/images/tmdb-logo.jfif" }}" alt="TMDB API" class="custom-icon" />
      </a>
    </div>
    <p>
      Une application web React/Flask qui permet d'importer son calendrier Letterboxd au format CSV,
      puis de télécharger les posters des films préférés de l'utilisateur. Cette application combine
      le front-end React pour une interface utilisateur dynamique avec un back-end Flask pour le
      traitement des données et l'interaction avec les APIs de films.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
{% endmacro projects %}