{% import "macros.html" as macros %}
{% import "content.html" as content %}

<!DOCTYPE html>
<html lang="en">

  {{ macros::head() }}

  <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WG77ZDP9"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      {{ macros::header() }}

      <section id="about">
        {{ content::about() }}
      </section>

      <section id="projects">
        {{ content::projects() }}
      </section>

      {% block content %}
      <p></p>
      {% endblock content %}


      {{ macros::footer() }}
      {{ macros::google_analytics() }}

  </body>
